.userCard {
    margin: 1rem;
    width: 350px;
    height: 650px;
    text-align: center;
}
.userCard h1{
    font-size:2rem;
}
.userCard h2 {
    font-variant: small-caps;
    font-size:1.5rem;
    color: rgb(97, 95, 95);
}
.userCard p{
    text-align:justify;
}

.icons {
    display: inline;
    align-content: center;
}
.icons img {
    margin:0.5rem;
}
.logo {
    width: 30px;
}

